<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="allegro_hand_ros2_control" params="name prefix initial_positions_file use_real_hardware:=false">
    
    <xacro:property name="initial_positions" value="${xacro.load_yaml(initial_positions_file)['initial_positions']}"/>

    <ros2_control name="${name}" type="system">

      <!-- ========================================================== -->
      <!--                     PLUGIN HARDWARE                        -->
      <!-- ========================================================== -->
      
      <!-- CAS 1 : REEL ROBOT -->
      <xacro:if value="${use_real_hardware}">
        <hardware>
          <plugin>allegro_hand_interface/AllegroHandHardwareInterface</plugin>
          <param name="CAN_CH">can0</param>
        </hardware>
      </xacro:if>

      <!-- CAS 2 : GAZEBO SIMULATION -->
      <xacro:unless value="${use_real_hardware}">
        <hardware>
          <plugin>gz_ros2_control/GazeboSimSystem</plugin>
        </hardware>
      </xacro:unless>
      
      <!-- CAS 3 : (MOCK) -->
      <!-- <xacro:unless value="${use_real_hardware or use_sim_time}">
        <hardware>
          <plugin>mock_components/GenericSystem</plugin>
        </hardware>
      </xacro:unless> -->

      <!-- ========================================================== -->
      <!--                    JOINTS DEFINITION                       -->
      <!-- ========================================================== -->
      <xacro:macro name="joint_definition" params="joint_name initial_pos">
        <joint name="${prefix}_${joint_name}">
          <command_interface name="effort"/>
          <state_interface name="position">
            <param name="initial_value">${initial_positions[initial_pos]}</param>
          </state_interface>
          <state_interface name="velocity"/>
        </joint>
      </xacro:macro>
      <!-- Call joint_definition macro for each joint -->
      <xacro:joint_definition joint_name="joint_00" initial_pos="joint_00" />
      <xacro:joint_definition joint_name="joint_01" initial_pos="joint_01" />
      <xacro:joint_definition joint_name="joint_02" initial_pos="joint_02" />
      <xacro:joint_definition joint_name="joint_03" initial_pos="joint_03" />
      <xacro:joint_definition joint_name="joint_04" initial_pos="joint_04" />
      <xacro:joint_definition joint_name="joint_05" initial_pos="joint_05" />
      <xacro:joint_definition joint_name="joint_06" initial_pos="joint_06" />
      <xacro:joint_definition joint_name="joint_07" initial_pos="joint_07" />
      <xacro:joint_definition joint_name="joint_08" initial_pos="joint_08" />
      <xacro:joint_definition joint_name="joint_09" initial_pos="joint_09" />
      <xacro:joint_definition joint_name="joint_10" initial_pos="joint_10" />
      <xacro:joint_definition joint_name="joint_11" initial_pos="joint_11" />
      <xacro:joint_definition joint_name="joint_12" initial_pos="joint_12" />
      <xacro:joint_definition joint_name="joint_13" initial_pos="joint_13" />
      <xacro:joint_definition joint_name="joint_14" initial_pos="joint_14" />
      <xacro:joint_definition joint_name="joint_15" initial_pos="joint_15" />

    </ros2_control>
  </xacro:macro>
</robot>
